@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin tr($time){
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-o-transition: all $time ease;
	transition: all $time ease;
}

@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin line-height($sizeValue: 1) {
	line-height: ($sizeValue * 10) + px;
	line-height: $sizeValue + rem;
}

@mixin gr1() {
	background: #b52bd7; /* Old browsers */
	background: -moz-linear-gradient(-4deg, $brand-2 0%, $brand-1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-4deg, $brand-2 0%,$brand-1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(94deg, $brand-2 0%,$brand-1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-1', endColorstr='$brand-2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gr2() {

	background: #b52bd7; /* Old browsers */
	background: -moz-linear-gradient(-4deg, $brand-1 0%, $brand-2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-4deg, $brand-1 0%,$brand-2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(94deg, $brand-1 0%,$brand-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-1', endColorstr='$brand-2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gr3() {
	background: #a62ad7; /* Old browsers */
	background: -moz-linear-gradient(45deg, $brand-2 0%, $brand-1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, $brand-2 0%,$brand-1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, $brand-2 0%,$brand-1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-2', endColorstr='$brand-1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
