.carousel-testimonials{
	padding-top: 50px;
	padding-bottom: 40px;

	.carousel-indicators{
		bottom: -60px;

		li{
			border: 2px solid $light;

			&:last-child{
				margin-right: 0;
			}
		}
	}

	.carousel-indicators .active{
		background: $light;
	}
}
