.carousel,
.carousel-screenshots{
	padding-top: 80px;
	z-index: 2;

	.carousel-indicators{
		bottom: -36px;

		li{
			height: 14px;
			width: 14px;
			margin: 0;
			margin-right: 20px;
			border: 2px solid $brand-2;
			@include border-radius(50%);

			&:last-child{
				margin-right: 0;
			}
		}
	}

	.carousel-indicators .active{
		background: $brand-2;
	}

	.row>div{
		margin-bottom: 30px;
	}

	.row img{
		margin: 0 auto;
	}
}

@media (max-width:992px) {
	.carousel-screenshots{
		padding-bottom: 30px;
	}
	.carousel,
	.carousel-screenshots{

		.carousel-indicators{
			li{
				height: 35px;
				width: 35px;

				margin-right: 35px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.carousel,
	.carousel-screenshots{
		padding-top: 30px;
	}
}

@media (max-width: 480px) {
	.carousel-screenshots{
		.row>div{
			margin-bottom: 20px;
		}
	}
}
