@import "../variables";
@import "../mixins";

.section{
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.section_features-1{
	background: $light url(../img/static/bg-photo-1.jpg) 0 0 no-repeat;
	background-size: cover;
}

@media (max-width: 768px) {
	.section_features-1{
		padding-bottom: 60px;
	}
}

.section_features-2{
	padding-bottom: 0;
	@include gr2();
}

.section_screenshots{
	// background: $dark url(../img/static/bg-photo-2.jpg) 0 0 no-repeat;
	// background-size: cover;
}

.section_testimonials{
	@include gr1();
}

.section_newsletter{
	@include gr2();
}

.section_blog-widget{
	background: $dark url(../img/static/bg-photo-3.jpg) 0 0 no-repeat;
	background-size: cover;
}

.section_footer{
	padding-bottom: 0;
	@include gr1();
}

.section__filter{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: $light;
	opacity: .2;
	z-index: 1;
}

.section__title{
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: $semibold;
	@include font-size(6);
}

.section__title_subtitle{
	font-family: $font;
	@include font-size(4.8);
}

.section__text{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	@include font-size(1.6);
	@include line-height(3);
}

.section__title_invert,
.section__text_invert{
	color: $light;
}

.section__copyright{
	display: block;
	color: $light;
	@include font-size(2);
	padding-bottom: 20px;
	@include tr(.4s);
}

@media (max-width: 992px) {
	.section__title{
		@include font-size(3);
	}
}

