.blogpost-widget {
  position: relative;
  text-align: left;
}

.blogpost-widget__date {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}

.blogpost-widget__content {
  margin-left: 100px;
}
