.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.section_features-1 {
  background: #fff url(../img/static/bg-photo-1.jpg) 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .section_features-1 {
    padding-bottom: 60px;
  }
}

.section_features-2 {
  padding-bottom: 0;
  background: #b52bd7;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-4deg, #4183f1 0%, #a62ad7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(356deg, #4183f1 0%, #a62ad7 100%);
  background: linear-gradient(94deg, #4183f1 0%, #a62ad7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-1', endColorstr='$brand-2',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.section_screenshots {
  background: #3b434d url(../img/static/bg-photo-2.jpg) 0 0 no-repeat;
  background-size: cover;
}

.section_testimonials {
  background: #b52bd7;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-4deg, #a62ad7 0%, #4183f1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(356deg, #a62ad7 0%, #4183f1 100%);
  background: linear-gradient(94deg, #a62ad7 0%, #4183f1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-1', endColorstr='$brand-2',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.section_newsletter {
  background: #b52bd7;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-4deg, #4183f1 0%, #a62ad7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(356deg, #4183f1 0%, #a62ad7 100%);
  background: linear-gradient(94deg, #4183f1 0%, #a62ad7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-1', endColorstr='$brand-2',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.section_blog-widget {
  background: #3b434d url(../img/static/bg-photo-3.jpg) 0 0 no-repeat;
  background-size: cover;
}

.section_footer {
  padding-bottom: 0;
  background: #b52bd7;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-4deg, #a62ad7 0%, #4183f1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(356deg, #a62ad7 0%, #4183f1 100%);
  background: linear-gradient(94deg, #a62ad7 0%, #4183f1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-1', endColorstr='$brand-2',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.section__filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: .2;
  z-index: 1;
}

.section__title {
  margin-top: 0px;
  font-family: "open_sanssemibold", Arial, sans-serif;
  font-size: 60px;
  font-size: 6rem;
}

.section__title_subtitle {
  font-family: "open_sansregular", Arial, sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
}

.section__text {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 30px;
  line-height: 3rem;
}

.section__title_invert,
.section__text_invert {
  color: #fff;
}

@media (max-width: 992px) {
  .section__title {
    font-size: 30px;
    font-size: 3rem;
  }
}
